<h1>New Restaurant</h1>
<%= render "form", restaurant: @restaurant %>
<div class="bouton">
  <button type="button" class="btn btn-link"><%= link_to "Back to restaurants", restaurants_path %></button>

</div>
